#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#container label {
  font-size: 1.4rem;
}

#container input {
  font-size: 1.4rem;
  width: 200px;
}

#container button {
  width: 100px;
  height: 30px;
  background-color: #AD2D2D;
  border: none;
  margin: 10px;
  font-size: 0.8rem;
  color: white
}

#container #items {
  display: grid;
  --rowNum: 3;
  --colNum: 3;
  grid-template-rows: repeat(var(--rowNum), 1fr);
  grid-template-columns: repeat(var(--colNum), 1fr);
  grid-gap: 10px;
}

#container table {
  width: 100%;
  border-collapse: collapse;
}

tr:nth-of-type(odd) {
  background-color: #eee;
}

td {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}